.contact-title {
    padding-top: 30vh;
    font-size: calc(1vh + 5vw);
}
.contact-paragraph {
    color: var(--secondary-fg-color);
    margin-bottom: 10vh;
}
.contact-send-email-button {
    padding: 2vh 2vw;
    border-style: ridge;
    border-color: var(--secondary-fg-color);
    border-radius: 15px;
    text-decoration: none;
    color: var(--main-fg-color);
    background-color: none;
}

.contact-send-email-button:hover {
    border-color: var(--terciary-fg-color);
    background-color: var(--secondary-bg-color);
    transition: 300ms;
}

.contact-mobile {
    max-width: max-content;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 2vh 2vw;
    border-radius: 15px;
    background-color: var(--terciary-fg-color);
    display: none;
    gap: 2rem;
}

@media (max-width: 926px) {
    .contact-mobile {
      display: flex;
    }
  }
  @media (min-width: 927px) {
    .contact-mobile {
      display: none;
    }
  }