.landing-main {
  padding: 30vh 20vw;
  text-align: left;
}

.title {
  font-size: 7vw;
}
.name {
  color: var(--secondary-fg-color);
  background-color: var(--secondary-bg-color);
}
.landing-paragraph {
  padding: 0vh 15vw;
  text-align: left;
  color: var(--secondary-fg-color)
}