.landing {
  background-color: var(--secondary-bg-color)
}

.landing-main {
  padding: 30vh 20vw;
  text-align: left;
}

.title {
  font-size: calc(1vh + 7vw);
}
.landing-paragraph {
  padding: 0vh 15vw 9vh;
  text-align: left;
  color: var(--secondary-fg-color)
}