.portfolio {
    padding: 5vh 15vw;
}

.portfolio-main {
    padding-bottom: 10vh;
}
.portfolio-title {
    font-size: calc(1vh + 5vw);
}
.portfolio-paragraph {
    color: var(--secondary-fg-color)
}

.portfolio-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 5vw;
}
.card-container {
    max-width: 25vw;
    padding: 0vh 2vw;
    border-style: ridge;
    border-color: var(--secondary-fg-color);
    background-color: var(--secondary-bg-color);
    text-decoration: none;
}
.card-container:hover {
    border-color: var(--terciary-fg-color);
    transition: 300ms;
}
.card-image {
    min-width: 20vw;
    height: auto;
}
.card-title {
    font-size: calc(1vh + 2vw);
    color: var(--main-fg-color);
}
.card-description {
    color: var(--secondary-fg-color);
}

@media (max-width: 700px) {
    .portfolio-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-container {
        max-width: 50vw;
    }
    .card-image {
        min-width: 40vw;
        height: auto;
    }
}